h1 {
  color: rgb(25,25,100);
}


#testrood {
  color: red;
}
body {
background-color:Khaki
}



#testgreen {
    color: green;
}

#testblue {
    color: blue;
}

#testpurple {
    color: purple;
}
